name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      OWNER: "0x3F32bC09d41eE699844F8296e806417D6bf61Bba"
      CURATOR: "0x3F32bC09d41eE699844F8296e806417D6bf61Bba"
      ALLOCATOR: "0x3F32bC09d41eE699844F8296e806417D6bf61Bba"
      SENTINEL: "0x3F32bC09d41eE699844F8296e806417D6bf61Bba"
      VAULT_NAME: "sky.money USDS Risk Capital"
      VAULT_SYMBOL: "skyMoneyUsdsRiskCapital"
      VAULT_ADDRESS: "0xf42bca228D9bd3e2F8EE65Fec3d21De1063882d4"
      USDS_BLOCK_NUMBER: 24284915

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Run deploy script tests
        run: |
          forge test --match-contract DeployUSDSScript --fork-url ${{ secrets.RPC_URL }} -vvvv

      - name: Run deployed vault tests
        run: |
          forge test --match-contract DeployedUSDSVault --fork-url ${{ secrets.RPC_URL }} --fork-block-number ${{ env.USDS_BLOCK_NUMBER }} -vvvv
